.main {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: block;
    width: 400px;
    height: 92px;
    margin: 0 auto;
    
    @include width-small {
      display: block;
      width: 200px;
      height: 50px;
    }
  }

  &__form {
    margin: 20px auto;
    position: relative;
    max-width: 470px;
    width: 100%;

    @include width-small {
      max-width: 320px;
    }
  }

  &__search-input {
    width: 80%;
    height: 44px;
    padding: 0 50px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

    @include width-small {
      height: 36px; 
      padding: 0 30px; 
    }
  }

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20%;
    transform: translateY(-50%);

    @include width-small {
      width: 18px; 
      height: 18px;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;

    @include width-small {
      gap: 6px; 
      margin-top: 20px;
    }
  }

  &__button {
    background-color: $back;
    color: $text-main;
    border: none;
    padding: 7px 16px;

    @include width-small {
      padding: 5px 12px; 
    }
  }

  &__glass {
    left: 16px;
  }

  &__key {
    right: 55px;
  }

  &__mic {
    right: 30px;
  }

  &__img {
    right: 10px;
  }

  &__lang {
    padding: 7px 16px;
    margin-top: 5px;
    text-align: center;
    background-color: $back;
    color: $text-main;
    font-size: 12px;

    @include width-small {
      font-size: 10px; 
      padding: 5px 10px;
    }
  }

  &__link {
    color: $link;

    @include width-small {
      font-size: 12px; 
    }
  }
}
