.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $back;
  color: $text-main;

  &__1 {
    padding: 10px 30px;
    border-bottom: 0.8px solid $border;
    font-size: 14px;
    font-weight: 400;

    @include width-small {
      padding: 8px 20px;
      font-size: 12px;
    }
  }

  &__2 {
    padding: 10px 17px;

    @include width-small {
      padding: 8px 15px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    @include width-small {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    @include width-small {
      gap: 10px;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $text-main;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px;

    @include width-small {
      font-size: 8px;
      padding: 5px 5px;
    }
  }
}
