.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-top: 10px;

  @include width-small {
    height: 40px;

    &__nav-item {
      font-size: 11px;
    }

    &__login {
      font-size: 12px;
      height: 36px;
      width: 75px;
    }
  }

  @include width-medium {
    height: 45px;

    &__nav-item {
      font-size: 12px;
    }

    &__login {
      font-size: 13px;
      height: 38px;
      width: 80px;
    }
  }

  &__navigation {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 15px;
    text-decoration: none;
  }

  &__nav-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $text-main;
    font-family: $arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  &__nav-link {
    text-decoration: none;
    color: $text-main;
  }

  &__menu {
    all: unset;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    padding: 0 15px;
    transform: translateY(-5px);
  }

  &__login {
    background-color: $button-blue;
    border-radius: 5px;
    color: white;
    font-family: $roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    width: 85px;
    margin: 10px 10px;
    border: none;
  }
}

.dots {
  position: relative;
  width: 4px;
  height: 4px;
  background: $text-main;
  border-radius: 50%;
  box-shadow: 6px 0 0 $text-main, 12px 0 0 $text-main, 0 6px 0 $text-main,
    6px 6px 0 $text-main, 12px 6px 0 $text-main, 0 12px 0 $text-main,
    6px 12px 0 $text-main, 12px 12px 0 $text-main;

  @include width-small {
    width: 3px; 
    height: 3px;
    box-shadow: 5px 0 0 $text-main, 10px 0 0 $text-main, 0 5px 0 $text-main,
      5px 5px 0 $text-main, 10px 5px 0 $text-main, 0 10px 0 $text-main,
      5px 10px 0 $text-main, 10px 10px 0 $text-main;
  }

  @include width-medium {
    width: 3.5px;
    height: 3.5px;
    box-shadow: 5.5px 0 0 $text-main, 11px 0 0 $text-main, 0 5.5px 0 $text-main,
      5.5px 5.5px 0 $text-main, 11px 5.5px 0 $text-main, 0 11px 0 $text-main,
      5.5px 11px 0 $text-main, 11px 11px 0 $text-main;
  }
}
