// Кольори
$text-main: rgb(31, 31, 31);
$input-gray: rgba(0, 0, 0, 0.87);
$button-gray: rgb(60, 64, 67);
$button-blue: rgb(11, 87, 208);
$back: rgb(248, 249, 250);
$border: rgb(218, 220, 224);
$link: #0000EE;


// Шрифти
$roboto: "Roboto", Arial, sans-serif;
$arial: Arial, sans-serif;

